<div id="about" class="grid grid-cols-1 md:grid-cols-2 container mx-auto gap-10">
    <div class="flex justify-center items-center flex-col py-6 px-6">
        <h2 class="py-6">About</h2>
        <hr>
        <div class="space-y-8">
            <p>I am passionate about marketing and business development as a whole. Working through various industries I have
                accumulated over 8 years of marketing experience encompassing operations management, systems development, lead
                generation and cultivation, paid media management and data analytics. I am always looking for the next challenge and the
                opportunity to learn new things while helping those around me.</p>
            <p>I am a fast learner and like to devote a lot of time to anything that I am involved in allowing me to get a better
                grasp of the subject. I am an outgoing person and am able to connect with many people especially in my field. I am
                always looking for the best way to operate either reducing cost, making things more efficient, or just getting a better
                result.</p>
        </div>
    </div>
    <div class="flex justify-center items-center pt-6 md:pt-12">
        <img class="md:w-3/4" src="assets/img/headshot.jpg">
    </div>
</div>