<div
    id="experience"
    class="grid grid-cols-1 md:grid-cols-2 auto-rows-max md:gap-y-8 gap-x-10 container md:mt-10 mx-auto">
    <div class="space-y-8 exp-grid">
        <h3>Teeccino Roasted Herbal Coffee & Tea</h3>
        <sub>Ecommerce Marketing Manager</sub>
        <p>Teeccino provides a healthy alternative to coffee with natural energy boosts and no caffeine. I overseeing campaign
            strategies for E-commerce platforms and implementing strategies to help our website visibility. I work closely with
            agencies to ensure the campaigns are performing well and messaging is carried across all platforms. I have taken
            initiative to help implement systems and procedures to help the marketing department and other departments collaborate
            more efficiently. I have set up a steady flow of data and provided guidelines on software automation that helps stream
            line the flow of data for efficient execution.</p>
    </div>
    <div class="space-y-8 exp-grid">
        <h3>Thirsty Agency</h3>
        <sub>Marketing Consultant</sub>
        <p>Complete and oversee design work for clients. Develop marketing strategies for implementation based on KPI's and
            expected ROI's. Created, managed, and optimized adwords payper click ads based on data analytics. Focusing on content
            creation and delivery of improved analytics, such as, traffic, CTR, and KPI's set by client.</p>
    </div>
    <div class="space-y-8 exp-grid">
        <h3>Keystone Recovery Network, LLC</h3>
        <sub>Marketing Manager</sub>
        <p>Create and manage marketing strategies to increase brand exposure and lead generation. Implement systems for
            efficiency of client intakes. Analyse and create data reporting on all media avenues. Create content and ad creatives
            for media campaigns.</p>
    </div>
    <div class="space-y-8 exp-grid">
        <h3>Intact Info</h3>
        <sub>Marketing Manager</sub>
        <p>Coordinated all marketing strategies with all internal teams to effectively accomplish our target KPI's. Manage a
            team of seven, create systems for efficiency and coherency through the department. I am the lead team member involved
            with our biggest client making sure all aspects of the campaign are running smoothly and providing results.</p>
    </div>
</div>