<footer class="w-full bg-lightblue text-white md:h-12 h-10 py-10">
    <div class="container mx-auto flex items-center h-full justify-center">
        <span>Copyright &copy; 2021 Ivan Zaragoza. Site by
            <a href="https://sannicolastech.com">San Nicolas Tech LLC.</a>
        </span>
    </div>
</footer>